
<div class="sticky top-nav fixed" data-js-scroll="100">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= link_to(image_tag('navbar/navbar-logo.png'), root_path) %>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Projects","/#projects" %></li>
        <li><%= link_to "Studio","/#studio" %></li>
        <li><%= link_to "Contact","/#contact" %></li>
      </ul>
    </section>
  </nav>
</div>
